@font-face {
    font-family: CoinbaseDisplay;
    src: url(/public/fnts/CoinbaseDisplay-Regular.28a06774e35b7ac61651a85dacada2a8.woff2) format("woff2");
    font-weight: 400
}

@font-face {
    font-family: CoinbaseDisplay;
    src: url(/public/fnts/CoinbaseDisplay-Medium.8a6a40a08f92d9a9b3e5fa9564e1585c.woff2) format("woff2");
    font-weight: 500 800
}

@font-face {
    font-family: CoinbaseSans;
    src: url(/public/fnts/CoinbaseSans-Regular.71371380d08a07cda58aee144a6632f9.woff2) format("woff2");
    font-weight: 400
}

@font-face {
    font-family: CoinbaseSans;
    src: url(/public/fnts/CoinbaseSans-Medium.502b733210ea3fdd4bf852bc767dfd6c.woff2) format("woff2");
    font-weight: 500 800
}

@font-face {
    font-family: CoinbaseText;
    src: url(/public/fnts/CoinbaseText-Regular.2a5dafc68ca015ca866ac28a35f28497.woff2) format("woff2");
    font-weight: 400
}

@font-face {
    font-family: CoinbaseText;
    src: url(/public/fnts/CoinbaseText-Medium.1c417cbe5308c436b5c2d070f1c5720d.woff2) format("woff2");
    font-weight: 500 800
}

@font-face {
    font-family: CoinbaseMono;
    src: url(/public/fnts/CoinbaseMono-Regular.760f9fc23d7b527e220fd29f95fa9ae3.woff2) format("woff2");
    font-weight: 400
}

@font-face {
    font-family: CoinbaseMono;
    src: url(/public/fnts/CoinbaseMono-Medium.c84047cd5b5110c8efbdf636990b6b78.woff2) format("woff2");
    font-weight: 500 800
}

:root {
    --cds-font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --cds-font-display: CoinbaseDisplay, var(--cds-font-fallback);
    --cds-font-sans: CoinbaseSans, var(--cds-font-fallback);
    --cds-font-text: CoinbaseText, var(--cds-font-fallback);
    --cds-font-mono: CoinbaseMono, var(--cds-font-fallback)
}
