<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js" integrity="sha512-yqitdsAKt7YxIgEMBoZpBrlcwv8MvYeUjegatZuAGkt+G7g8bpQ6kXGlKlhNfVRmHrQG+CwlxZljdB7wUR2xnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" integrity="sha512-ifnw7uo3puPqptyK3NL7X5zAilwRd7g5DjC8NDov8+zS/wyT1jaoVocaLePaZ7cGzflIFv58/4AtqImsO8UYxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<form>
<div class="container grid-lg">
    <div class="columns">
        <div class="column col-12">
            <div class="divider text-center" data-content="Session"></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-session-id">Current session ID</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="text" id="input-session-id" disabled="disabled" placeholder="Current session ID" value="{{ .Account.SessionName }} ({{ .Account.ID }})">
                            <button class="ml-1 btn btn-success input-group-btn" type="submit" name="action" value="save"><i class="icon icon-download"></i> Save session</button>
                            <button class="ml-1 btn input-group-btn" type="submit" name="action" value="create"><i class="icon icon-plus"></i> Create session</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="load-session-id">Load session ID</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <select name="session_selected" class="form-select">
                                {{ range .Sessions }}
                                    <option value="{{ .ID }}">{{ .SessionName }} ({{ .ID }})</option>
                                {{ end }}
                            </select>
                            <button type="submit" name="action" value="load" class="ml-1 btn btn-primary"><i class="icon icon-upload"></i> Load session</button>
                            <button type="submit" name="action" value="delete" class="ml-1 btn btn-error"><i class="icon icon-cross"></i> Delete session</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider text-center" data-content="Settings"></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-account-name">Session Name</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="text" name="session_name" id="input-account-name" placeholder="Session Name" value="{{ .Account.SessionName }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-account-name">Account Name</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="text" name="account_name" id="input-account-name" placeholder="First name Last name" value="{{ .Account.Name }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-bank-name">Bank</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <select name="account_bank" id="input-bank-name" class="form-select">
                                {{ $bank := .Account.Bank }}
                                {{ range .Banks }}
                                    <option value="{{ .Name }}" {{ if eq .Name $bank }}selected{{ end }}>{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-account-name">Bank Account (last 4 digits)</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="text" name="account_bank_account" id="input-account-name" placeholder="9999" value="{{ .Account.BankAccount }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-hours-min">Hours between transactions</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="number" name="account_hours_min" id="input-hours-min" placeholder="From" value="{{ .Account.HoursMin }}">
                            <input class="form-input" type="number" name="account_hours_max" id="input-hours-max" placeholder="To" value="{{ .Account.HoursMax }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-date-start">Date start</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="datetime-local" name="account_date_start" id="input-date-start" placeholder="Date starting from" value="{{ .Account.DateStart.Format "2006-01-02T15:04" }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-date-end">Date end</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <input class="form-input" type="datetime-local" name="account_date_end" id="input-date-end" placeholder="Date ending to" value="{{ .Account.DateEnd.Format "2006-01-02T15:04" }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="input-date-start">Products</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        {{ $products := .Products }}
                        {{ $productIds := .Account.Products }}
                        <div class="input-group">
                            <select id="account_products" multiple name="account_products">
                                {{ range $products }}
                                    {{ $selected := .IsSelected $productIds }}
                                    <option value="{{ .ID }}" {{ if $selected }}selected{{ end }}>${{ .Price }} {{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label">Banners</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <label class="form-switch">
                                <input type="checkbox" name="account_need_app"{{ if .Account.NeedApp }} checked{{ end }}>
                                <i class="form-icon"></i> Download app
                            </label>
                            <label class="form-switch">
                                <input type="checkbox" name="account_need_key"{{ if .Account.NeedKey }} checked{{ end }}>
                                <i class="form-icon"></i> PayPal key
                            </label>
                            <label class="form-switch">
                                <input type="checkbox" name="account_need_card"{{ if .Account.NeedCard }} checked{{ end }}>
                                <i class="form-icon"></i> PayPal card
                            </label>
                            <label class="form-switch">
                                <input type="checkbox" name="account_need_photo"{{ if .Account.NeedPhoto }} checked{{ end }}>
                                <i class="form-icon"></i> Upload photo
                            </label>
                            <label class="form-switch">
                                <input type="checkbox" name="account_carousel"{{ if .Account.Carousel }} checked{{ end }}>
                                <i class="form-icon"></i> Promo carousel
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label">Coinbase theme mode</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <div class="input-group">
                            <label class="form-switch">
                                <input type="checkbox" name="account_coin_dark"{{ if .Account.CoinDark }} checked{{ end }}>
                                <i class="form-icon"></i> Dark mode
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-3 col-sm-12"></div>
                    <div class="col-9 col-sm-12">
                        <button type="submit" class="btn btn-success tooltip" data-tooltip="Regenerate all new transactions
by given settings. New transactions will
replace all old after saving the session." name="action" value="generate"><i class="icon icon-menu"></i> Generate new transactions</button>
                        <button type="submit" class="btn btn-success tooltip" data-tooltip="Update all existing transactions
by given settings. New transactions will
be added after old last one if new date
end older than old date end. All new
transactions will be saved only after
saving the session." name="action" value="update"><i class="icon icon-refresh"></i> Update transactions</button>
                        <a href="/myaccount/transactions/?id={{ .Account.ID }}" target="_blank" class="btn btn-primary pull-right"><i class="icon icon-share"></i> Go to Activity page</a>
                    </div>
                </div>
            </div>
            <div class="divider text-center" data-content="Transactions"></div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Rate</th>
                </tr>
                </thead>
                <tbody>
                    {{ range $i, $a := .Account.Transactions }}
                        <tr>
                            <td>
                                <input name="transactions.{{ $i }}.id" value="{{ .ID }}" type="hidden">
                                <input name="transactions.{{ $i }}.date" class="form-input input-sm" type="datetime-local" placeholder="Date" value="{{ .Date.Format "2006-01-02T15:04" }}">
                            </td>
                            <td>
                                <select name="transactions.{{ $i }}.type" class="form-select select-sm" onchange="javascript:if(this.value==='1'||this.value==='4')document.querySelector('#transaction_{{ $i }}_product').classList.add('d-none');else document.querySelector('#transaction_{{ $i }}_product').classList.remove('d-none');">
                                    <option value="0" {{ if eq .Type 0 }}selected{{ end }}>COMPLETED</option>
                                    <option value="1" {{ if eq .Type 1 }}selected{{ end }}>BANK</option>
                                    <option value="2" {{ if eq .Type 2 }}selected{{ end }}>HOLD_SHIP</option>
                                    <option value="3" {{ if eq .Type 3 }}selected{{ end }}>HOLD_NOT_SHIP</option>
                                    <option value="4" {{ if eq .Type 4 }}selected{{ end }}>COIN_OUT</option>
                                </select>
                            </td>
                            <td><input name="transactions.{{ $i }}.name" class="form-input input-sm" type="text" placeholder="Name" value="{{ .Name }}"></td>
                            <td><input name="transactions.{{ $i }}.amount" class="form-input input-sm" type="text" placeholder="Amount" value="{{ .Amount }}"></td>
                            <td>
                                <select name="transactions.{{ $i }}.product_id" id="transaction_{{ $i }}_product" class="form-select select-sm{{ if eq .Type 1 }} d-none{{ end }} {{ if eq .Type 4 }}d-none{{ end }}">
                                    {{ $productId := .ProductId }}
                                    {{ range $products }}
                                        <option value="{{ .ID }}" {{ if eq .ID $productId }}selected{{ end }}>${{ .Price }} {{ .Name }}</option>
                                    {{ end }}
                                </select>
                            </td>
                            <td><input name="transactions.{{ $i }}.rate" class="form-input input-sm" type="text" placeholder="Rate" value="{{ .Rate }}"></td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    new SlimSelect({
        select: '#account_products'
    })
</script>
</body>
</html>
