<!DOCTYPE html>
<html class="js-focus-visible" data-js-focus-visible="" lang="en" style="--full-view-height:984px;">

<head>
    <link rel="icon" href="/public/imgs/favicon-32.png">
    <title>Coinbase</title>
    <link rel="manifest" data-savepage-href="/manifest.json" href="">
    <link rel="icon" href="/public/imgs/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/public/imgs/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/public/imgs/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/public/imgs/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/public/imgs/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/public/imgs/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/public/imgs/favicon-228.png" sizes="228x228">
    <link rel="icon" href="/public/imgs/favicon-196.png" sizes="196x196">
    <link rel="apple-touch-icon" href="/img/favicon/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/img/favicon/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/img/favicon/favicon-180.png" sizes="180x180">
    <meta property="viewport" name="viewport" content="width=device-width,initial-scale=1">
    <meta property="description" name="description" content="Coinbase is a secure online platform for buying, selling, transferring, and storing digital currency.">
    <link href="/environments.json" crossorigin="anonymous">
    <link href="/public/fnts/CoinbaseDisplay-Medium.8a6a40a08f92d9a9b3e5fa9564e1585c.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseDisplay-Regular.28a06774e35b7ac61651a85dacada2a8.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseIcons-1634070361328.84634eaef952db979f74ce797645b60a.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseIcons-1637758687747.14c1dec2bf59787aa995988e0ff1ee6b.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseMono-Medium.c84047cd5b5110c8efbdf636990b6b78.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseMono-Regular.760f9fc23d7b527e220fd29f95fa9ae3.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseSans-Medium.502b733210ea3fdd4bf852bc767dfd6c.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseSans-Regular.71371380d08a07cda58aee144a6632f9.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseText-Medium.1c417cbe5308c436b5c2d070f1c5720d.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/CoinbaseText-Regular.2a5dafc68ca015ca866ac28a35f28497.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Graphik-Medium-Web.409c311c06abd8a1fa4ac024fd75a12e.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Graphik-Medium.409c311c06abd8a1fa4ac024fd75a12e.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Graphik-Regular-Web.b311e723498f502894ca5ce85677139a.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Graphik-Regular.b311e723498f502894ca5ce85677139a.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Graphik-RegularItalic-Web.47a0c5e314448022c4a6caaff5cc151c.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Graphik-Semibold-Web.82eae6e807aa29b25852b663ce4840b2.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Inter-Regular.2505c0d4b34ffca98f8f8852e24928eb.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/fnts/Inter-Semi-Bold.70214cc266c6a06739cc3b0ebc150b90.woff2" as="font" type="font/woff2" crossorigin="">
    <link href="/public/coinbase-basic.css" rel="stylesheet">
    <link href="/public/coinbase-font.css" rel="stylesheet">
    <link href="/public/coinbase.css" rel="stylesheet">
    <link href="/public/coinbase-main.css" rel="stylesheet">
    <link href="/public/coinbase-trade-basic.css" rel="stylesheet">
    <link href="/public/coinbase-trade-main.css" rel="stylesheet">
    <style data-savepage-href="/public/js/SetupAddCard_SetupDepositCrypto_addCollateral_addLinkedAccountPickerModal_advancedMarkets_advancedTr_178d9855.0f1c17c693c176036b47.css"
           type="text/css">
        .v1ykd6ma {
            overflow: auto
        }
    </style>
    <style data-savepage-href="/public/js/assetCategories_assetPagePortfolio_buySellModal_coinbase-card_coinbase-card-issuance_trade_yield-cen_437cc59f.244e075acf15ede6f054.css"
           type="text/css">
        .v86cx09 {
            overflow: auto
        }
    </style>
    <style data-savepage-href="/public/js/assetPagePortfolio.8713b173a1bee40f3611.css" type="text/css">
        .i1ndffw5 {
            margin-right: 14px
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" data-rh="true">
    <style data-savepage-href="/public/js/add-bank-account-data-card_assets-tab_defi-interest-data-card_deposit-cash-data-card.a95b5dd3c9d84eea9573.css"
           type="text/css">
        .c13dcsep {
            display: block;
            width: 100%;
            padding: 0;
            border-style: none
        }
        [opacity="0.4"], [opacity="0.3"] {
            display: none !important;
        }
        #transaction-div * {
            cursor: crosshair;
        }
    </style>
    <link rel="stylesheet" href="/public/odo.css" />
</head>

<body data-testid="body-hydrated">
<div id="root">
    <div id="app"></div>
</div>
<div id="portalRoot" style="z-index: 100001; position: fixed; display: flex;">
    <div class="cds-large-l12sl86x cds-light-lilshph"
         style="--foreground:rgb(var(--gray100)); --foreground-muted:rgb(var(--gray60)); --background:rgb(var(--gray0)); --background-alternate:rgb(var(--gray5)); --background-overlay:rgba(var(--gray80),0.33); --line:rgba(var(--gray60),0.2); --line-heavy:rgba(var(--gray60),0.66); --primary:rgb(var(--blue60)); --primary-wash:rgb(var(--blue0)); --primary-foreground:rgb(var(--gray0)); --negative:rgb(var(--red60)); --negative-foreground:rgb(var(--gray0)); --positive:rgb(var(--green60)); --positive-foreground:rgb(var(--gray0)); --secondary:rgb(var(--gray0)); --secondary-foreground:rgb(var(--gray100));">
        <div id="modalsContainer" style="z-index: 1;"></div>
        <div id="alertsContainer" style="z-index: 3;"></div>
    </div>
</div>
<div></div>
<div class="Overlay__OverlayContent-sc-1jqn7b1-0 kdXwUD"></div>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="/public/js/odo.js"></script>
<script src="/public/js/moment.min.js"></script>
<script src="/public/js/echarts.min.js"></script>
<script src="/public/js/vue.js"></script>
<script src="/public/js/vue-router.js"></script>
{{ template "_layout.html" }}
{{ template "_menu.html" }}
{{ template "_dashboard.html" .Account }}
{{ template "_price.html" .Account }}
{{ template "_accounts.html" .Account }}
<script>window.acc = JSON.parse({{ .Account.ToJson }})</script>
<script src="/public/js/app.js"></script>
</body>

</html>
